.main-signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: url("../../../assets/images/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-signup-container {
  position: relative;
  background-color: white;
  width: 70%;
  border-radius: 15px !important;
  height: 84% !important;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow:
    0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}
.left-side-signup {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p {
    margin-left: 40px;
    text-align: start;
    color: var(--light-gray);
    font-weight: 500;
  }
}

.wave-container {
  position: absolute;
  z-index: 1;
  left: 16%;
  top: 39%;
  width: 61.15%;
}
.wave {
  transform: rotate(90deg);
  width: 100%;
}
.right-side-signup {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 15px !important;
  & p {
    font-size: 1.2rem;
    padding-bottom: 10px;
    color: white;
  }
}

.signup-title h1 {
  text-align: center;
  color: white;
  margin: 0px !important;
  font-size: 4.5rem;
  font-weight: 500;
}
.signup-field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  & input {
    padding: 10px 20px;
  }
}

.paragraph a {
  color: white;
}
.sign-up-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
::ng-deep asl-google-signin-button {
  display: inline !important;
}
::ng-deep .snackbar-error {
  --mdc-snackbar-container-color: rgba(0, 0, 0, 0.886);
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: red;
  --mdc-snackbar-supporting-text-font-size: 30px;
}
